* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'DM Serif Text', serif;
}

.search {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.textbox {
    font-size: 15px;
    padding-left: 15px;
    width: 50%;
    line-height: 35px;
    border: 1.5px solid lightgray;
    border-radius: 6px;
}

#lesPhotos {
    list-style-type: none;
}

.photos {
    width: 65%;
    margin-left: 60px;
    padding-bottom: 65px;
}

@media (min-width: 768px) {
    .textbox {
        font-size: 25px;
    }

    .photos {
        width: 25%;
        margin-left: 45px;
    }

}

@media (min-width: 1200px) {
    .textbox {
        font-size: 20px;
        width: 40%;
    }

    .gallery {
        padding-left: 50px;
    }

    .photos {
        width: 15%;
        margin-left: 75px;
    }
}