* {
    background-color: #fff;
    font-family: 'DM Serif Text', serif;
}

.search {
    margin: 0 50%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.textbox {
    font-size: 15px;
}

@media (min-width: 768px) {

    img {
        max-width: 50%;
        padding-left: 40px;
        padding-bottom: 20px;
    }

}