* {
    background-color: #fff;
    font-family: 'DM Serif Text', serif;
}

.search {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.textbox {
    font-size: 15px;
    width: 40%;
    line-height: 35px;
}

@media (min-width: 768px) {

    img {
        
        padding-left: 40px;
        padding-bottom: 20px;
    }

}